@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-color-6: var(--color-6);
  --color-color-5: var(--color-5);
  --color-color-4: var(--color-4);
  --color-color-3: var(--color-3);
  --color-color-2: var(--color-2);
  --color-color-1: var(--color-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #0a2540;
  --card: #eaf1fb;
  --card-foreground: #0a2540;
  --popover: #eaf1fb;
  --popover-foreground: #0a2540;
  --primary: #40454ee0;
  --primary-foreground: #fff;
  --secondary: #60a5fa;
  --secondary-foreground: #0a2540;
  --muted: #dbeafe;
  --muted-foreground: #2563eb;
  --accent: #38bdf8;
  --accent-foreground: #0a2540;
  --destructive: #ef4444;
  --border: #ced1d4;
  --input: #dbeafe;
  --ring: #2563eb;
  --color-1: #3b82f6;
  --color-2: #7173e7;
  --color-3: #ec4899;
  --color-4: #10b981;
  --color-5: #f59e0b;
  --color-6: #bc74ff;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}